</main>

<footer class="school-footer">
  <div class="container">
    <div class="row footer-content">
      <div class="footer-section col-md-4">
        <h4>Classes</h4>
        <ul>
          <li><a href="/courses">5th Class</a></li>
          <li><a href="/courses">6th Class</a></li>
          <li><a href="/courses">7th Class</a></li>
          <li><a href="/courses">8th Class</a></li>
          <li><a href="/courses">9th Class</a></li>
          <li><a href="/courses">10th Class</a></li>
        </ul>
      </div>
      <div class="footer-section col-md-4">
        <h4>Quick Links</h4>
        <ul>
           <li><a href="/new_offer">New Offer</a></li>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About Us</a></li>
          <li><a href="/courses">Courses</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>
      <div class="footer-section col-md-4">
        <h4>Contact Us</h4>
        <p><i class="fas fa-map-marker-alt"></i><%-contact_info.address%></p>
        <p><i class="fas fa-phone-alt"></i> <a href="tel:+911234567890"><%-contact_info.phone%></a></p>
        <p><i class="fas fa-envelope"></i> <a href="mailto:shreeclasses@gmail.com"><%-contact_info.email%></a></p>
        <div class="social-icons">
          <a href="<%-contact_info.facebook%>" class="social-icon text-primary bg-light"><i class="fab fa-facebook-f "></i></a>
          <a href="<%-contact_info.twitter%>" class="social-icon text-primary bg-light"><i class="fab fa-twitter"></i></a>
          <a href="<%-contact_info.instagram%>" class="social-icon text-danger bg-light"><i class="fab fa-instagram"></i></a>
          <a href="<%-contact_info.linkedin%>" class="social-icon text-primary bg-light"><i class="fab fa-linkedin-in"></i></a>
          <a href="https://wa.me/<%-contact_info.whatsapp%>" class="social-icon text-success bg-light"><i class="fab fa-whatsapp"></i></a>
        </div>
      </div>
    </div>
    <div class="footer-bottom text-center mt-4">
      © 2025 <strong>Shree Classes</strong> – All rights reserved.
      <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>
    </div>
  </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-6FjJkSEzz3wLax+U8/vOyXkT6EmXGnFVAIZoszM3sNwSoZTxsA4zZa9Zq6T3bDbY" crossorigin="anonymous"></script>
</body>
</html>
